header {
    position: sticky;
}

h1 {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 6%;
    font-weight: bold;
}

h1 span {
    color: #11b802;
}

p#name {
    font-size: 25px;
    font-weight: bold;
}

ul.nav a{
    color: black;
}

ul.nav a:hover{
    color: #11b802;
}

button.btn {
    background-color: #11b802;
}

button.btn:hover {
    background-color: #276322;
}

div.container1 {
    height: 700px;
    width: 50%;
    border-radius: 100%;
    margin: auto;
    margin-top: 8%;
    background: radial-gradient(#11b802, #276322);
    opacity: 31%;
    /*display: grid;
    grid-template-columns: repeat(5, 5fr);
    grid-template-rows: repeat(10, 1fr);*/
}

/*
div.container1 p#first {
    font-size: 30px;
    color: black;
    opacity: 100%;
    grid-row-start: 2;
}
*/

div.container1 img.round{
    margin-left: 20%;
    height: auto;
}

h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 2%;
}

div.container2 {
    background-color:#276322;
    position: relative;
    bottom: 200px;
}

/*============  To enable the display of img when width become thinner  ==============*/
@media screen and (max-width : 768px) { 

    div.feature {
        display: flex;
        justify-content: center;
    }

    div.feature img {
        width: 250px;
    }
    
    div.feature img.html, div.feature img.postgresql {
        padding-bottom: 40px;
    }
}


