header {
    position: sticky;
}

h1 {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 6%;
    font-weight: bold;
}

h1 span {
    color: #11b802;
}

p#name {
    font-size: 25px;
    font-weight: bold;
}

ul.nav a{
    color: black;
}

ul.nav a:hover{
    color: #11b802;
}

button.btn {
    background-color: #11b802;
}

button.btn:hover {
    background-color: #276322;
}

div.container1 {
    margin: auto;
    margin-top: 8%;
}

div.container1 img.round{
    margin-left: 20%;
    height: auto;
}

h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 2%;
}

div.container2 {
    background-color:#276322;
}

/*============  To enable the display of img when width become thinner  ==============*/
@media screen and (max-width : 768px) { 

    div.feature {
        display: flex;
        justify-content: center;
    }

    div.feature img {
        width: 250px;
    }
    
    div.feature img.html, div.feature img.postgresql {
        padding-bottom: 40px;
    }
}


