header {
    position: sticky;
}

h1 {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 6%;
    font-weight: bold;
}

h1 span {
    color: #11b802;
}

p#name {
    font-size: 25px;
    font-weight: bold;
}

ul.nav a{
    color: black;
}

ul.nav a:hover{
    color: #11b802;
}

button.btn {
    background-color: #11b802;
}

button.btn:hover {
    background-color: #276322;
}

div.container1 {
    height: 700px;
    width: 50%;
    border-radius: 100%;
    margin: auto;
    margin-top: 8%;
    background: radial-gradient(#11b802, #276322);
    opacity: 31%;
}

div.container1 img.round{
    margin-left: 20%;
    height: auto;
}

h2 {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    padding-top: 2%;
}

div.container2 {
    background-color:#276322;
    position: relative;
    padding-bottom: 10%;
    bottom: 200px;
}

div.container3 {
    width: 70%;
    margin: auto;
    padding-bottom: 4%;
    position: relative;
    bottom: 340px;
    background-color: #11b802;
}

div.container3 p#title {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    width: 50%;
    margin: auto;
    padding-top: 5%;
}

input.email {
    background-color: #468b41;
    color: #a8bba7;
    border: 0px;
    width: 50%
    
}

input.email::placeholder {
    color: #a8bba7;
    font-size: 80%;
}

input.email:focus {
    border: 0px;
    outline: none; 
    opacity: 75%;
}

input#contact {
    color: #468b41;
    border: 0px;
    outline: none;
}

input#contact:focus {
    color: #468b41;
}

input#contact:hover {
    opacity: 75%;
}

/*============  To enable the display of img when widget become thinner  ==============*/

@media screen and (max-width : 768px) { 

    div.feature {
        display: flex;
        justify-content: center;
    }

    div.feature img {
        width: 250px;
    }
    
    div.feature img.html, div.feature img.postgresql {
        padding-bottom: 40px;
    }
}

/*============  To enable the display at 100% of the input.email when thinner widget  ==============*/

@media screen and (max-width : 575.5px) { 

    input.email {
        width: 100%;  
    }
   
}


